* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: -webkit-linear-gradient(281deg, #0c63aa, #7ac4fa);
    background: linear-gradient(169deg, #0c63aa, #7ac4fa);
    background-color: #0c63aa;
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
}

label.error {
    color: #fe464d;
    font-size: 13px;
}

.forgot-form {
    width: 350px;
    padding: 40px 30px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 5px 7px 5px 15px;
    background: #fff;
    color: #666;
    border: 1px solid #E0E0E0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.form-control:focus, .form-control:focus + .fa {
    border: solid 1px #4285f4;
    color: #000;
}

*:focus {
    outline: none;
}

.log-btn {
    background: #4285f4;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.wrong-entry {
    border: solid #fe464d 1px;
    background: #fff;
}

.success-entry {
    border: solid #4CAF50 1px;
    background: #fff;
}

.link {
    text-decoration: none;
    color: #C6C6C6;
    font-size: 12px;
    margin-bottom: 15px;
}

.link:hover, .link:focus {
    text-decoration: underline;
    color: #8C918F;
    text-underline-color: #4285f4;
}

.back {
    padding-top: 10px;
}

input:focus {
    outline: none;
}

.messages-success {
    color: #388E3C;
    border: 1px solid #1B5E20;
    text-align: center;
    padding: 9px 10px;
    margin-bottom: 23px;
    overflow: hidden;
    border-radius: 3px;
    line-height: 1.3em;
    font-size: .95em;
}

.messages-error {
    background-color: rgba(254, 70, 77, .2);
    color: #aa0107;
    border: 1px solid #fe464d;
    text-align: center;
    padding: 9px 10px;
    margin-bottom: 23px;
    overflow: hidden;
    border-radius: 3px;
    line-height: 1.3em;
    font-size: .95em;
}

.crab-msg {
    text-align: center;
    padding-bottom: 15px;
    color: #616161;
    display: none;
}

.crab-msg img {
    margin: auto;
    display: block;
    padding-bottom: 10px
}

span:nth-last-child(4) {
    color: #546673;
    font-size: 14px;
}

.animated .fadeInUp {
    display: none;
}