* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: -webkit-linear-gradient(281deg, #0c63aa, #7ac4fa);
    background: linear-gradient(169deg, #0c63aa, #7ac4fa);
    background-color: #0c63aa;
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
}

label.error {
    color: #fe464d;
    font-size: 13px;
}

.login-form {
    width: 350px;
    padding: 15px 30px 40px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
}

*:focus {
    outline: none;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 5px 7px 5px 15px;
    background: #fff;
    color: #666;
    border: 1px solid #E0E0E0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.form-control:focus, .form-control:focus + .fa {
    border: solid 1px #4285f4;
    color: #000;
}

.form-group .fa {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #999;
}

.wrong-entry {
    border: solid #fe464d 1px;
    background: #fff;
}

.success-entry {
    border: solid #4CAF50 1px;
    background: #fff;
}

.log-btn {
    background: #4285f4;
    display: inline-block;
    width: 35%;
    float: right;
    font-size: 16px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #C6C6C6;
    font-size: 12px;
    margin-bottom: 15px;
}

.link:hover, .link:focus {
    text-decoration: underline;
    color: #8C918F;
    text-underline-color: #4285f4;
}

.messages {
    background-color: rgba(254, 70, 77, .2);
    color: #aa0107;
    border: 1px solid #fe464d;
    text-align: center;
    padding: 9px 10px;
    margin-bottom: 23px;
    overflow: hidden;
    border-radius: 3px;
    line-height: 1.3em;
    font-size: .95em;
}

.messages-success {
    color: #388E3C;
    border: 1px solid #1B5E20;
    text-align: center;
    padding: 9px 10px;
    margin-bottom: 23px;
    overflow: hidden;
    border-radius: 3px;
    line-height: 1.3em;
    font-size: .95em;
}

.messages-error {
    background-color: rgba(254, 70, 77, .2);
    color: #aa0107;
    border: 1px solid #fe464d;
    text-align: center;
    padding: 9px 10px;
    margin-bottom: 23px;
    overflow: hidden;
    border-radius: 3px;
    line-height: 1.3em;
    font-size: .95em;
}

#login-google button {
    margin-bottom: 45px;
    cursor: pointer;
}

.google-login {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 2px;
    width: 100%;
    padding-left: 0;
    padding-right: 10px;
    border: none;
    background: #4285f4;
    color: #fff;
    text-shadow: none;
}

.google-login img {
    height: 22px;
}

.google-login span {
    vertical-align: top;
}

button.button-large {
    height: 40px;
    padding: 10px;
}

.form-divider {
    position: relative;
    margin-bottom: 10px;
    margin-top: -24px;
    text-align: center;
    z-index: 1;
    font-size: 13px;
    color: #7b8087;
}

.form-divider:before {
    content: '';
    border-top: 1px solid #c5cad9;
    margin: 0 auto;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.form-divider span {
    background-color: #fff;
    padding: 0 10px;
}

.crab-msg {
    text-align: center;
    padding-bottom: 50px;
    margin-top: -10px;
    color: #616161;
    display: none;
}

.crab-msg img {
    margin: auto;
    display: block;
    padding-bottom: 10px
}