.main-sidebar, .left-side {
    z-index: inherit;
}

#theBird {
    z-index: 99999999;
}

.box-header .box-title {
    font-size: inherit;
}

.toolbar {
    padding: 10px 0;
}

.toolbar a {
    display: inline-block;
    margin-right: 10px;
}

.toolbar a[data-toggle="modal"] {
    margin-right: 0;
}